<p-panel header="Status Atual por Estado" [toggleable]="true">
    <p-table [value]="statusEstados">
    <ng-template pTemplate="header">
      <tr>
        <th>Estado</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ste>
      <tr>
        <td>{{ste.estado}}</td>
        <td>
          <span *ngIf="ste.status == 'ON_LINE'"><i class="pi pi-check-circle" ></i></span>
          <span *ngIf="ste.status == 'OFF_LINE'"><i class="pi pi-times-circle" ></i></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
